$blood : #800000;
$crypt : #181818;

@font-face {
  font-family: gothfont;
  src: url(/../Deutsch.ttf);
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#fog{
  width: 100%;
  height: 50%;
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.btn-danger {
  background-color: $blood;
  border-color: $blood;
  color: $crypt;
  font-family: gothfont;
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#search-box{
  background-color: gray;
  border-color: black;
  color: black;
}



#map {
  height: 50%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  opacity: 0.5;

  }


h1{
  text-align: center;
  color: $blood;
  font-family: gothfont;
  font-size: 58px;
}

h2{
  text-align: center;
  color: $blood;
  font-family: gothfont;
  font-size: 48px;
}

h4 {
  text-align: center;
  color: $blood;
  font-family: gothfont;
  font-size: 30px;
  padding-top: 50px;
}
body {
  background-color: $crypt;
}

.small-box{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}
